{% extends "./base.html" %}
{% block title %} Sign Up - Project 8 {% endblock title %}


{% block content %}

{% if messages %}

{% for m in messages %}

    {% comment %} conditional css {% endcomment %}
    {% comment %} <small {% if m.tags %} class="{{m.tags}}" {% endif %} > {{ m }} </small> {% endcomment %}
   
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> {{m}} </strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

{% endfor %}

{% endif %}


<div class="w-50 m-auto my-5 border border-primary p-5 rounded">
<h2>Sign Up Form</h2>
{% load crispy_forms_tags %}
<form method="post" novalidate > 
    {% csrf_token %}
    <!-- {{ form | crispy }} -->
    {% for fm in form %}
        {{ fm.label_tag }}
        {{ fm }}
        {{ fm.errors | striptags }}           
    {% endfor %}
    <br> 
    <button class="btn btn-success">Sign Up</button> 
    <br>
    <small>Already have an account? <a href=" {% url 'signin' %} ">Signin</a> </small>
</form>
</div>
{% endblock content %}