{% extends "./base.html" %}
{% block title %} Login - Project 8 {% endblock title %}


{% block content %}

<div class="w-50 m-auto my-5 border border-primary p-5 rounded">
<h2>Sign In Form</h2>
{% load crispy_forms_tags %}
<form method="post" novalidate > 
    {% csrf_token %}

    {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
            <p class="bg-danger text-white p-3">{{ er }}</p>
        {% endfor %}
    {% endif %}

    <!-- {{ form | crispy }} -->
    {% for fm in form %}
        {{ fm.label_tag }}
        {{ fm }}
        {{ fm.errors | striptags }}           
    {% endfor %}
    <br> 
    <button class="btn btn-success">Sign In</button>
</form>
</div>

{% endblock content %}