{% extends "base.html" %} {% block content %}




<div class="">
    <h3 class="py-3 ">List of Marketing Executive</p>
    <div class="row">
      {% for i in profileData %}
        <div class="col-sm-4 my-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> {{i.designation}} of  <button class="btn btn-sm btn-secondary" disabled> {{i.location}} </button>  </h5>
              <p class="card-text">
                  <p>{{i.name}}</p>
                  <p> {{i.salary}} </p> 
              </p>
              <a href=" {% url 'edit_profile' i.id %} " class="btn btn-primary"> Edit </a>
              <a href="{% url 'delete_profile' i.id %} " class="btn btn-danger"> Delete </a>
            </div>
          </div>
        </div>
      {% endfor %}       
</div>


<div class=" px-5  d-flex flex-wrap">
  <div class="col-2 bg-white p-3">
    <h5>All Locations </h5> 
    {% for i in locationData %}
    <div class="form-check">
 
        <a href=" {% url 'location_wise_investigation' i.slug %} " style="font-size: 18px" class="btn btn-outline-secondary"> {{ i.name }}</a>
 
    </div>
    {% endfor %}
  </div>
  
  
  
  <div class="col-10 p-3"> 
    <div class=" my-3">
      <div class="d-flex justify-content-between">
        <h3>List of Investigations

          <ul>
            <li>app er moddhe media folder e new images ase na</li>
            <li>frontend theke image upload hoyna</li>
          </ul>
        </h3>
        <h4> <span class="text-primary"> {{ investigationData | length }}  </span> investigations found </h4>
      </div>
      <div class="row">
       
          <div class="col-sm-3 my-3">

            <table class="table">
              <thead>
                <tr> 
                  <th scope="col">Location</th>
                  <th scope="col">Marketing Executive</th>
                  <th scope="col">DC</th>
                  <th scope="col">Patient Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Test Details</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for i in investigationData %}
                <tr> 
                  <td>{{i.location.name}}</td>
                  <td>{{i.marketing_executive }}</td>
                  <td>{{i.diagnostic_center.name}} </td>
                  <td> {{i.patient_name}}   </td>
                  <td>{{ i.age }}Y   </td>
                  <td> {{i.test_details}}  </td>
                  <td>  {{i.rate}}  </td>
                  <td>  
                    {% if i.payment_status == 'D' %}
                        <a href="#" class="btn btn-danger">
                            Due
                        </a>
                        {% else %}
                        <button class="btn btn-success" disabled>
                            Paid
                        </button>
                        {% endif %}  </td>
                </tr>
                {% endfor %}    
              </tbody>
            </table>
            
           
            
      
  </div>
  </div>
</div>



{% endblock content %}
